.nav{
    grid-area: n;
    background-color: #d1f3f6;
    padding: 25px;

}
.sentence {
    margin: 10px;
}


.sentence a {
    color: #092324;
    text-decoration: none;
}

.sentence a.activeLink{
    color: white;
}
.avatar{
    width: 45px;
    height: 45px;
    border-radius: 30px;
}

